body {
    background-color: #F1EAE2;
}

.container {
    max-width: 450px;
    margin: 0 auto;

}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.best-div,
.score-div {
    background-color: #BBADA0;
    color: #FFFFFF;
    float: left;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 3px 20px;

}
.best-div {
    margin-right: 10px;
}

.info .title {
    color: #EEE4DA;
    font-size: 1rem;
}

.new-game {
    background-color: #8F7A66;
    color: #FFFFFF;
    padding: 0 8px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.new-game:active {

}

.item-container {
    width: 430px;
    height: 430px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    padding: 10px;
    font-size: 3.5rem;
    background-color: #BBADA0;
}

.item {
    text-align: center;
    line-height: 100px;  /* 与每个item的height保持一致，从而使得文字垂直居中*/
    background-color: #CDC1B4;
    transition: all 0.15s ease;
}

.item[data-val="128"], 
.item[data-val="256"],
.item[data-val="512"] {
    font-size: 3rem;
}

.item[data-val="1024"],
.item[data-val="2048"] {
    font-size: 2.5rem;
}

.item[data-val] {
    color: #FFFFFF;
}

.item[data-val="2"],
.item[data-val="4"] {
    color: #776E65;
}

.item[data-val="2"] {
    background-color: #EEE4DA;
}

.item[data-val="4"] {
    background-color: #EDE0C8;
}

.item[data-val="8"] {
    background-color: #F2B179;
}

.item[data-val="16"] {
    background-color: #F59563;
}

.item[data-val="32"] {
    background-color: #F67C5F;
}

.item[data-val="64"] {
    background-color: #F65E3B;
}

.item[data-val="128"] {
    background-color: #EDCF72;
}

.item[data-val="256"] {
    background-color: #EDCC61;
}

.item[data-val="512"] {
    background-color: #EDC850;
}

.item[data-val="1024"] {
    background-color: #EDC53F;
}

.item[data-val="2048"] {
    background-color: #EDC22E;
}

/* 设置动态效果 */
/* #region */
@keyframes appear{
    0%{
        transform: scale(0);
    }

    100%{
        transform: scale(1);
    }
}

.appear {
    animation: appear 0.3s;
}

/* #endregion */
